:root {
  --ls-page-ref-text-color: #5746af;
  --ls-anchor-link-text-color: #5746af;
  --ls-tag-text: #5746af;
  --ls-tag-text-hvoer: #5746af;
  --ls-tag-background: transparent;
  --ls-left-sidebar-background: #f9f8f9;
  --ls-main-content-background: #fdfcfd;
}

a.tag:hover {
  background: transparent !important;
  text-decoration: underline !important;
}

/* hide favorite star icon */
.favorites .ui__icon.ti.ti-star {
  display: none;
}

/* reference-blocks background */
.references-blocks .lazy-visibility > div > div > div {
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: #f4f2f4;
}
.references-blocks-wrap .foldable-title {
  margin-left: 0.75rem;
}

/* flashcard ui  */
.ui__button-theme-color.ui__button-color-blue {
  background-color: #6c5ce7 !important;
}
.ui__button-theme-color.ui__button-color-blue:hover {
  background-color: #9c88ff !important;
}

#right-sidebar {
  width: 25% !important;
}
